<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.chang.gpms.dao.PlanMapper">

    <sql id="insertFields">
        TYPE
        , NAME, MAJOR_ORIE_ID, GRADE, START_D, END_D, CLASS_HOUR, CREDIT, PERCENT_IN, PERCENT_EX, IS_DELETED, CONTENT, OBJECTIVE, DEMAND, SCORE_CAL_TYPE, PERCENT_IN_DAILY_REPORT, PERCENT_IN_WEEKLY_REPORT, PERCENT_IN_MONTHLY_REPORT, PERCENT_IN_SUMMARY, DEADLINE, CREATOR
    </sql>

    <sql id="selectFields">
        ID
        , TYPE, NAME, MAJOR_ORIE_ID, GRADE, START_D, END_D, CLASS_HOUR, CREDIT, PERCENT_IN, PERCENT_EX, IS_DELETED, CONTENT, OBJECTIVE, DEMAND, SCORE_CAL_TYPE, PERCENT_IN_DAILY_REPORT, PERCENT_IN_WEEKLY_REPORT, PERCENT_IN_MONTHLY_REPORT, PERCENT_IN_SUMMARY, DEADLINE, CREATOR
    </sql>

    <delete id="deletePlanInternshipById">
        DELETE
        FROM plan
        WHERE ID = #{id};
    </delete>

    <!--根据 Id 查询信息-->
    <select id="selectById" resultType="me.chang.gpms.pojo.Plan">
        select
        <include refid="selectFields"></include>
        from plan
        where ID = #{id}
    </select>


    <select id="selectAllPlan" resultType="me.chang.gpms.pojo.Plan"></select>

    <!--插入信息-->
    <insert id="insertMyPlan" parameterType="me.chang.gpms.pojo.Plan" keyProperty="id">
        insert into plan (<include refid="insertFields"></include>)
        values(#{type}, #{name}, #{majorOrieId}, #{grade}, #{startD}, #{endD}, #{classHour}, #{credit},
        #{percentIn}, #{percentEx}, #{isDeleted}, #{content}, #{objective}, #{demand}, #{scoreCalType},
        #{percentInDailyReport}, #{percentInWeeklyReport}, #{percentInMonthlyReport}, #{percentInSummary},
        #{deadline}, #{creator})
    </insert>

    <!--修改信息-->
    <update id="updatePlanInternship">
        --         update plan
--         set NUMBER = #{NUMBER}, TYPE = #{TYPE}, NAME = #{NAME}, MAJOR_ORIE_ID = #{MAJOR_ORIE_ID}, GRADE = #{GRADE}, START_D = #{START_D}, END_D = #{END_D}, CLASS_HOUR = #{CLASS_HOUR}, CREDIT = #{CREDIT}, PERCENT_IN = #{PERCENT_IN}, PERCENT_EX = #{PERCENT_EX}, IS_DELETED = #{IS_DELETED}, CONTENT = #{CONTENT}, OBJECTIVE = #{OBJECTIVE}, DEMAND = #{DEMAND}, SCORE_CAL_TYPE = #{SCORE_CAL_TYPE}, PERCENT_IN_DAILY_REPORT = #{PERCENT_IN_DAILY_REPORT}, PERCENT_IN_WEEKLY_REPORT = #{PERCENT_IN_WEEKLY_REPORT}, PERCENT_IN_MONTHLY_REPORT = #{PERCENT_IN_MONTHLY_REPORT}, PERCENT_IN_SUMMARY = #{PERCENT_IN_SUMMARY}, DEADLINE = #{DEADLINE}
--         where ID = #{id}
        update plan
        set type                      = #{type},
            name                      = #{name},
            major_orie_id             = #{major_orie_id},
            grade                     = #{grade},
            start_d                   = #{startD},
            end_d                     = #{endD},
            class_hour                = #{classHour},
            credit                    = #{credit},
            percent_in                = #{percentIn},
            percent_ex                = #{percentEx},
            is_deleted                = #{isDeleted},
            content                   = #{content},
            objective                 = #{objective},
            demand                    = #{demand},
            score_cal_type            = #{scoreCalType},
            percent_in_daily_report   = #{percentInDailyReport},
            percent_in_weekly_report  = #{percentInWeeklyReport},
            percent_in_monthly_report = #{percentInMonthlyReport},
            percent_in_summary        = #{percentInSummary},
            deadline                  = #{deadline} creator                   = #{creator}
        where id = #{id}
    </update>

</mapper>
